* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav input {
  width: 200px;
  height: 24px;
  position: relative;
  top: 8px;
  border-radius: 15px;
  border: 1px solid #E5E5EA;
  background-image: url(img/Frame.png);
  background-repeat: no-repeat;
  background-size: 15px 14px;
  background-position: left;
}

.Connect-Wallet {
  background-color: rgba(0, 122, 255, 0.1215686275);
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: #007AFF;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link img {
  position: relative;
}
.link a {
  position: relative;
  top: -10px;
  text-decoration: none;
  color: black;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}
.hero__wrapper img {
  width: 100%;
}

.hero__box {
  height: 350px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-shadow: 0px 19px 100px 0px rgba(0, 0, 0, 0.0666666667);
          box-shadow: 0px 19px 100px 0px rgba(0, 0, 0, 0.0666666667);
  border-radius: 10px;
}
.hero__box h1 {
  font-style: 28px;
}

.price-time {
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price-time h3 {
  font-size: 24px;
}
.price-time h5 {
  color: gray;
  font-style: 16px;
}
.price-time img {
  height: 50px;
  width: 2px;
  position: relative;
  top: 10px;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.bts {
  background-color: #007AFF;
  border: none;
  border-radius: 20px;
  padding: 5px;
  color: white;
}

.btn {
  background-color: #fff;
  border: none;
  color: #007AFF;
}

.hero__num {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 9px;
}

.hero__img {
  background-image: url(img/Rectangle\ 2.png);
  width: 889px;
  border-radius: 20px 20px 0 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-top: 20px;
}

.card {
  border: 1.5px solid #E6E6E6;
  -webkit-box-shadow: 0px 20px 100px 0px #808080;
          box-shadow: 0px 20px 100px 0px #808080;
  max-width: 314px;
  border-radius: 16px;
  position: relative;
  width: 100%;
}

.live__cards-img img {
  border-radius: 10px 10px 0 0;
}

.live__cards-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 17px;
  gap: 90px;
  height: 60px;
}

.live__cards-coast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  position: relative;
  top: -20px;
}
.live__cards-coast h5 {
  color: gray;
}
.live__cards-coast h4 {
  font-size: 20px;
}

.live__cards-svg {
  position: relative;
  top: 9px;
}

.h4-live-cards {
  z-index: 4;
  position: relative;
  left: 170px;
  top: -260px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 10px;
  border-radius: 20px;
  width: 130px;
}

.livew {
  margin: 90px 0;
}

.live__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.live__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.live__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.live__card-img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.live__card-box {
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-top: none;
  border-radius: 0 0 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.live__card-box h3 {
  margin-bottom: 20px;
}
.live__card-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #8e8e93;
  margin-top: auto;
}
.live__card-box div b {
  color: #111;
}